<section class="hero is-white-er is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="container">
      <header class="bd-index-header">
        <h1 class="title is-inverted">
          ¡Tu mensaje ha sido enviado!
        </h1>
        <h2 class="subtitle">
          Nos contactaremos pronto
        </h2>
      </header>
      <div class="hero-buttons">
        <a href="/" class="button is-danger is-large">
          <span class="icon has-text-centered">
            <i class="fas fa-2x fa-long-arrow-alt-left"></i>
          </span>
          <span>
            Vuelve
          </span>
        </a>
      </div>
    </div>
  </div>
</section>