<section class="hero is-success is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Tu mensaje ha sido enviado!
      </h1>
      <h2 class="subtitle">
        Nos contactaremos pronto!
      </h2>
    </div>
  </div>
</section>