<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
<<<<<<< HEAD
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129069501-1"></script>
=======
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
>>>>>>> 2dd0bc07ef8adf73a4d1608e5b3e7d18f1c4f17e
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

<<<<<<< HEAD
  gtag('config', 'UA-129069501-1');
</script>

=======
  gtag('config', 'GA_TRACKING_ID');
</script>
>>>>>>> 2dd0bc07ef8adf73a4d1608e5b3e7d18f1c4f17e
=======
>>>>>>> b3d99722b71ba80cc76a2939115a9ae194663a4f
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="/css/bulma.pricingtable.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  <title>{{title}}</title>
</head>
<body>
  {{{body}}}

  <script src="/js/tweenmax.min.js"></script>
  <script src="/js/timelinemax.min.js"></script>
  <script src="/js/svgs.js"></script>
  <script src="/js/texto.js"></script>
</body>
</html>
